body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#siteModelContainer .breadcrumbHolder {
  margin-top: 20px;
  margin-bottom: 20px; 
}

#siteModelContainer .labelHolder {
  text-align: end;
}

.dropZoneHolder {
  width: 100%;
}

.buttonFooter {
  padding: 10px;
}

.dropZone {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 3px solid #bababa;
  margin: 10px;
  border-radius: 20px;
}

.loadingHolder {
  height: 90vh;
  align-items: center;
  flex-direction: column;
}